.forcastContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  text-transform: capitalize;
  font-size: 0.8rem;
  min-width: 100px;
  padding: 0.5rem 1rem; 

}
 .selected{
  border: 2px solid #008FFB;
  background-color: #FFFDF7;
}

.forcastImage{
  width: 24px;
  margin: 0.5rem;
}

.forcastContainer p{
  margin-bottom: 0.5rem;
  text-align: center;
}


