.searchSuggestioncontainer{
  position: absolute;
  top: 65px;
  width: 100%;
  background-color: white;
  z-index: 999;
  box-shadow: 0 8px 10px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 10%), 0 -8px 12px 0 rgb(0 0 0 / 5%), 0 -2px 3px -2px rgb(0 0 0 / 1%);
  border-radius: 8px;
}

.searchSuggestioncontainer > div:last-child{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.searchSuggestioncontainer > div:first-child{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;

}